@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: 'Exo 2', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.95); 
  background-color: #121212; 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #121212; 
  background-image: radial-gradient(circle at 1px 1px, rgba(255,255,255,0.05) 1px, transparent 0);
  background-size: 20px 20px;
}

.MuiTypography-root {
  font-family: 'Exo 2', sans-serif !important;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem; 
  text-align: center;
}

.card-glow {
  box-shadow: 0 0 10px rgba(255, 40, 0, 0.4), 0 0 5px rgba(255, 255, 255, 0.1);
}

button {
  border: none;
}